* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 75ms;
}

.oh-no {
    background-color: aqua;
}

body {
    min-height: 100vh;

    background-color: #111;
    color: #eee;

    & * {
        color: inherit;
    }
}

body:has(.hidden) {
    background-color: #999;
    & .img {
        opacity: 0;
    }
}

#imgContainer {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    position: relative;
    width: min(100%, 700px);
}

img {
    width: 100%;
}

.img::after {
    content: "";
    position: absolute;
    inset: 0;

    z-index: -1;
    background-image: var(--_url);
    background-size: cover;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}

.fixed img {
    opacity: 0;
}

:not(form) > button {
    z-index: 100;
    --_margin: 2rem;

    position: fixed;

    background-color: hsl(from #666 h s l / 0.5);
    border: none;

    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;

    font-size: 1.75rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
    &:not(.close) {
        right: var(--_margin);
    }
    &:is(.close, .fullscreen) {
        left: var(--_margin);
    }
    &:is(.visibility, .close) {
        top: var(--_margin);
    }

    &:is(.mode, .fullscreen) {
        bottom: var(--_margin);
    }
}

form {
    --_gap: 1rem;
    margin-inline: auto;
    max-width: 700px;
    padding: 1rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--_gap);

    & *:not(span) {
        font-size: 1rem;
        padding: 1rem;
        border: none;
        background-color: #999;
        text-align: center;

        &:not(button) {
            flex-basis: 0;
            flex-grow: 1;
        }
        &:is(input) {
            flex-grow: 2;
        }
    }
    & span {
        display: flex;
        gap: var(--_gap);
    }
    & > * {
        max-height: 50px;
    }
}
